{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<img class="LOGO" src="{% static 'images/LOGO.png' %}" alt="Imagen">

<h2 class="quienes_somos">Quienes Somos</h2>

<br>

<p>Somos un apasionado grupo de emprendedores con raíces en la clase media, unidos por un sueño compartido: ofrecer lo mejor a un precio accesible. Nuestra historia es la de perseverancia y el deseo de hacer las cosas de manera diferente.</p>
<p>Nos encontramos en el emocionante comienzo de nuestro viaje empresarial, y cada día es una oportunidad para aprender y crecer. Creemos que la calidad no debe ser un lujo inalcanzable, y es por eso que nos esforzamos por brindarte productos y servicios excepcionales a precios que no te romperán el bolsillo.</p>
<p>Nuestra dedicación a la excelencia y nuestro compromiso con la satisfacción del cliente son los pilares de nuestro negocio. Trabajamos incansablemente para mejorar y ofrecerte soluciones que se adapten a tus necesidades.</p>

<h2 class="quienes_somos">Nuestra Misión</h2>

<br>

<p>En PEPERINA - Home & Deco, nuestra misión es ofrecer una experiencia única en decoración para el hogar, donde la accesibilidad, la calidad y la simplicidad sean los pilares de cada producto.
    Nos esforzamos por proporcionar opciones de blanquería y decoración que permitan a nuestros clientes expresar su estilo y personalidad en cada rincón de sus hogares.
    A través de artículos cuidadosamente diseñados y minimalistas, nos comprometemos a hacer que transformar su hogar en un espacio acogedor y elegante sea una realidad accesible y satisfactoria.
    Buscamos ser un puente que conecte a las personas con la estética, la simplicidad y la funcionalidad, proporcionando accesibilidad real y conveniente sin importar su ubicación en el país.</p>
<p>Nuestra visión en PEPERINA - Home & Deco es crear una presencia destacada a nivel provincial y nacional, llevando nuestra propuesta de valor a hogares y espacios diversos en todo el país.
    Aspiramos a ser más que una marca líder en el mercado; buscamos convertirnos en una influencia positiva en la forma en que la decoración transforma los espacios y las vidas.
    Deseamos ser reconocidos por nuestro compromiso con la sostenibilidad y el consumo consciente, incorporando estos valores en cada diseño que creamos.
    Visualizamos un futuro en el que seamos la opción preferida de decoración tanto para hogares como para establecimientos comerciales, destacando no solo por nuestra estética equilibrada y minimalista, sino también por nuestra integridad, transparencia y enfoque en la satisfacción del cliente</p>
<p>Transparencia: Nos regimos por la honestidad y la claridad en nuestras acciones y relaciones comerciales, brindando información veraz y accesible a nuestros clientes y colaboradores.
    Calidad: Nos comprometemos a ofrecer productos de excelente calidad, utilizando materiales duraderos y técnicas de producción que garanticen la satisfacción del cliente y la perdurabilidad de nuestros artículos.
    Precio accesible y razonable: Buscamos ofrecer precios justos y competitivos para que nuestros productos sean asequibles para una amplia gama de clientes, sin comprometer su calidad y diseño.
    Estética minimalista pero atractiva: Valoramos la elegancia y la simplicidad en el diseño de nuestros productos, ofreciendo opciones estéticamente atractivas y versátiles para diferentes estilos de decoración.
    Accesibilidad en cuanto al pago: Facilitamos diversas opciones de pago para brindar comodidad y flexibilidad a nuestros clientes en sus transacciones.
    Diversidad de opciones: Buscamos ofrecer una amplia gama de productos de blanquería y decoración para que nuestros clientes encuentren artículos que se ajusten a sus preferencias y necesidades.
    Responsabilidad y compromiso: Nos preocupamos por el impacto ambiental de nuestras operaciones y nos comprometemos a adoptar prácticas sostenibles y respetuosas con el medio ambiente.</p>

{% endblock content %}