<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Peperina</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {

			var cookieArr = document.cookie.split(";");

			for (var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");

				if (name == cookiePair[0].trim()) {

					return decodeURIComponent(cookiePair[1]);
				}
			}

			return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined) {
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img class="LOGO-main" src="{% static 'images/LOGO.png' %}" alt="Imagen">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'store' %}">Tienda<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{% url 'about_us' %}">Quienes Somos<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{% url 'faq' %}">Preguntas Frecuentes<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{% url 'contact_us' %}">Contacto<span class="sr-only">(current)</span></a>
				</li>

			</ul>

			<div class="form-inline my-2 my-lg-0">
				<a href="#" class="btn btn-dark">Crear Cuenta</a>
			</div>

			<div class="form-inline my-2 my-lg-0">
				<a href="#" class="btn btn-light">Ingrese</a>

				<a href="{% url 'cart' %}">
					<img id="cart-icon" src="{% static 'images/cart.png' %}">
				</a>
				<p id="cart-total">{{cartItems}}</p>

			</div>

		</div>
	</nav>

	<div class="container">

		<br>

		{% block content %}

		{% endblock content %}
	</div>

	<br>

	<footer class="text-center text-lg-start bg-light text-muted">

		<section class="d-flex">
		
			<div>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-google"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-github"></i>
				</a>
			</div>
		</section>

		<section class="">
			<div class="container text-center text-md-start mt-5">
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>Peperina Home & Deco 
						</h6>
						<p>
							Nuestra misión es ofrecer una experiencia única en decoración para el hogar, 
							donde la accesibilidad, la calidad y la simplicidad sean los pilares de cada producto.
						</p>
					</div>

					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							Redes
						</h6>
						<p>
							<a href="#!" class="text-reset">Instagram</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Facebook</a>
						</p>
						<p>
							<a href="#!" class="text-reset">TikTok</a>
						</p>
						<p>
							<a href="#!" class="text-reset">X</a>
						</p>
					</div>

					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							Links Utiles
						</h6>
						<p>
							<a href="#!" class="text-reset">Nuestros Productos</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Quienes Somos</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Ayuda</a>
						</p>
						<p>
							<a href="#!" class="text-reset">FAQ</a>
						</p>
					</div>

					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
						<p><i class="fas fa-home me-3"></i> Ezpeleta, Buenos Aires, Argentina</p>
						<p>
							<i class="fas fa-envelope me-3"></i>
							peperina@gmail.com
						</p>
						<p><i class="fas fa-phone me-3"></i> + 11 22334455</p>
						<p><i class="fas fa-print me-3"></i> + 11 00998877</p>
					</div>
				</div>
			</div>
		</section>

		<div class="text-center p-4" style="background-color: rgba(234,233,230,1);">
			© 2023 Copyright:
			<a class="text-reset fw-bold" href="https://mdbootstrap.com/">peperinahomeydeco.com.ar</a>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>

</html>